.App {
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  border: 1px solid black;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 306px;
  height: 306px;
  margin: 20px auto;
  border: 2px solid #333;
}